@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap");
@import "shared/variables.css";
@import "shared/header.css";
@import "shared/buttons.css";

:root {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: var(--color-text-white);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: #5c258d;
  background: -webkit-linear-gradient(to right, #4389a2, #5c258d);
  background: linear-gradient(to right, #4389a2, #5c258d);
}

.containter-main {
  max-width: 1200px;
  margin: auto;
  margin-bottom: 3rem;
}

.containter-inner {
  margin: 0 2rem;
}

.page-header {
  font-size: 2rem;
  font-weight: 200;
}
