@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap");
@import "shared/variables.css";
@import "shared/header.css";
@import "shared/buttons.css";
@import "shared/form.css";
@import "shared/authors.css";
@import "shared/books.css";
@import "shared/auth.css";

:root {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: var(--color-text-white);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  /* background: #5c258d;
  background: -webkit-linear-gradient(to right, #4389a2, #5c258d);
  background: linear-gradient(to right, #4389a2, #5c258d); */
  background-color: rgb(0, 32, 100);
}

.containter-main {
  max-width: 1200px;
  margin: auto;
  margin-bottom: 3rem;
}

.containter-inner {
  margin: 0 2rem;
}

.page-header {
  font-size: 2rem;
  font-weight: 200;
}

.text-center{
  text-align: center;   
}

.title-div{
  /* color: var(--color-primary); */
  color: white;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;

  background-color: black;
  padding: 1px;

}
.error-message {
  margin: auto;
  background-color: rgb(189, 0, 0);
  color: white;
  border-radius: 0.5rem;
  width: 20%;
  padding: 10px;
}
