:root {
  --color-btn-primary-background: rgb(5, 155, 255);
  --color-btn-primary-background-dark: rgb(71, 153, 246);
  --color-btn-primary-text: white;
  --color-btn-border: ;
  --color-btn-danger-text: white;
  --color-btn-danger-background: var(--color-danger);
  --color-btn-danger-background-dark: rgb(241, 110, 110);
}

.btn {
  border: 0.01rem solid var(--color-btn-border);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  cursor: pointer;
  text-decoration: none;
  text-align: cneter;
}

.btn-row {
  display: flex;
  align-items: flex-start;
}

.btn-row > * {
  margin-left: 1rem;
}
.btn-row > *:first-child {
  margin-left: 0;
}

.btn-primary {
  color: var(--color-btn-primary-text);
  background-color: var(--color-btn-primary-background);
}
.btn-primary:hover {
  color: var(--color-btn-primary-text);
  background-color: var(--color-btn-primary-background-dark);
}

.btn-danger {
  color: var(--color-btn-danger-text);
  background-color: var(--color-btn-danger-background);
}
.btn-danger:hover {
  color: var(--color-btn-danger-text);
  background-color: var(--color-btn-danger-background-dark);
}
