:root {
  --nav-title-font-size: 2.5rem;
  --nav-title-font-color: rgb(0, 127, 247);
  --nav-title-font-weight: bold;
  --nav-link-font-weight: 300;
  --nav-font-color: black
}
nav{
  padding:10px;
  background-color: white;
  color: white;
  border-radius: 0.5rem;
}
.header-title {
  color: white;
  background-color: var(--nav-title-font-color);
  border-radius: 0.5rem;
  margin-left: 5rem;
  padding: 0.2em;
  text-decoration: none;
  font-size: var(--nav-title-font-size);
  font-weight: var(--nav-title-font-weight);
}

.header-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0rem;
}

.header-nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.header-nav li {
  list-style: none;
}

.header-nav ul li a {
  background-color: rgb(223, 223, 223);
  border-radius: 0.2rem;
  text-decoration: none;
  color: var(--nav-font-color);
  font-weight: var(--nav-link-font-weight);
  padding: 1rem;
  margin: 0.5rem;
}

.header-title:hover{
        color: white;
        background-color: var(--nav-title-font-color);
        border-radius: 0.5rem;        
        transition: all 0.3s ease; 
}

.header-nav ul li a:hover {
  color: white;
  background-color: var(--nav-title-font-color);
  transition: all ease 0.3s;
  border-radius: 0.5rem;
}
