<div class="title-div-full">

  <h2 class="page-header text-center"><%= author.name %></h2>
</div>


<div class="div-card-full">

<% if (booksByAuthor.length > 0) { %>

<h2 class="page-header text-center">Books by Author</h2>
<%- include('../partials/bookGrid', {books: booksByAuthor}) %> <% } %>
<div class="btn-row form-row form-row-end">
  <a class="btn btn-primary" href="/authors/<%= author.id %>/edit">Edit</a>

  <%- include('../partials/deleteForm', {url: `/authors/${author.id}`}) %>
</div>
</div>
